body {
  text-align: center;
  background: #8db3df;
  font-family: sans-serif;
}
/*
.nav-items {
  height: 50px;
  background-color: black;
}
*/

.nav-item {
  display: inline;
  color: white;
  padding: 10px;
  width: 20px;
  margin: 20px;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

h1 {
    color: rgb(14, 7, 85); 
}

h4 {
    color: pink;
}

p {
  width: 50%;
  margin: 0 auto;
}

#profile-image {
  margin-right: 60px;
}

ul{ 
  list-style-type: none;
  text-align: center;
  font-weight: bold;
  margin-right: 30px;
}

.info {
    text-align: center;
}

.skills-inline {
  display: inline;
  border: 1px solid red;
  padding: 10px;
  width: 20px;
  margin: 20px;
  font-weight: bold;
}

#thetitle {
  font-size: 3em;
  color: #459287;
}

#value {
  font-size: 100px;
}

.blank-square {
  height: 150px;
  width: 150px;
}

/*
.rps-label {
  display: inline;
}
*/

.icons-big {
  height: 100px;
  width: 100px;
}

.animal-pics {
  height: 180px;
  width: 180px;
}

.animal-pics:active {
  opacity: 0.5;
 }

 /*avoid the goblin */

 #leaf1, #leaf2, #leaf3 {
  height: 150px;
  width: 150px;
}

.surround {
  background-color: rgb(95, 118, 145);
}

.js-images {
 width: 100px;
 border: 2px solid white;
 padding: 10px;
 margin-bottom: 80px;
 background-color: black;
}

.rps {
  padding: 10px;
  margin-bottom: 60px;
}