@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap"); 

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  color: var(--font-color);
  background-color: #666666;
}

:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;

  --border-radius: 12px;

  --font-color: #fcf8f8;
}


h2 {
  font-family: "Proza Libre", sans-serif;
  margin: 0;
  margin-bottom: var(--spacing-2);
}

body {
  font-family: "roboto", sans-serif;
  margin: 0;
  padding: 0 var(--spacing-3);
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 20px;
}

nav {
  display: flex;
  align-items: center;
  padding: var(--spacing-3) 0;
}

.navigation-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.navigation-item {
  margin: var(--spacing-1);
}

.portrait {
  width: 300px;
  border-radius: var(--border-radius);
  flex-shrink: 0;
}

.about-me-container {
  display: flex;
  margin-top: 20%;
  max-width: 900px;
  margin-left: 10%;
  margin-right: 10%;
}

#skills-h2 {
  max-width: 900px;
  margin-left: 10%;
  margin-right: 10%;  
}

#skills-container {
  max-width: 900px;
  margin-left: 10%;
  margin-right: 10%;
}

.about-me-text-container {
  margin-right: var(--spacing-3);
}

details {
  cursor: pointer;
}

summary {
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

footer {
  margin-top: auto;
  padding: var(--spacing-2) 0;
  text-align: center;
}

section {
  padding: var(--spacing-3) 0;
}

.icon {
  font-size: 2em;
  color: var(--font-color);
  margin: 0 var(--spacing-1);
}

a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 600;
}

#logo {
  margin: 0;
}

#skills {
  margin-top: 15%;
}

#skills-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

#skills-container > * {
  font-size: 2em;
  width: 2em;
  margin-top: var(--spacing-1);
}

@media only screen and (max-width: 600px) {
  .about-me-container {
    flex-direction: column;
  }
}

/* End of CSS for non Projects */

#mini-projects {
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

.container-inner {
  background-color: rgb(75, 83, 105);
  margin: 20px 20px 20px 20px;
  text-align: center;
}

.corners {
  border-radius: 25px;
  border: 2px solid #f6f8fa;
  padding: 20px;
  width: 200px;
  height: 200px;
}

#quote-gen.corners {
  width: 400px;
  height: 240px;
} 

#rev-word, #quote-gen, #palind {
  display: inline-block;
  vertical-align: top;
}

#animal-sounds.corners {
  width: 600px;
  height: 340px;
}

#counter.corners {
  height: 250px;
}

#animal-sounds, #counter {
  display: inline-block;
  background-color: rgb(57, 83, 134);
}

#style-change.corners {
  width: 800px;
  height: 120px;
}

#style-change {
  margin: 0 auto;
  background-color: rgb(57, 83, 134);
}

#rps.corners {
  width: 400px;
  height: 480px;
}

#avoid-the-goblin.corners {
  width: 500px;
  height: 400px;
}

#rps, #avoid-the-goblin {
  display: inline-block;
  vertical-align: top;
  background-color: rgb(57, 134, 98);
}

#js-algs.container-inner {
  border-radius: 5px;
  border: 2px solid #f6f8fa;
  padding: 20px;
  width: 900px;
  height: 300px;
}


#value {
  font-size: 100px;
}

.blank-square {
  height: 150px;
  width: 150px;
}

.icons-big {
  height: 100px;
  width: 100px;
}

.animal-pics {
  height: 180px;
  width: 180px;
}

.animal-pics:active {
  opacity: 0.5;
 }

 /*avoid the goblin */

 #leaf1, #leaf2, #leaf3 {
  height: 150px;
  width: 150px;
}

.surround {
  background-color: rgb(95, 118, 145);
}

.js-images {
 width: 100px;
 border: 2px solid white;
 padding: 10px;
 margin-bottom: 80px;
 background-color: black;
}

.rps {
  padding: 10px;
  margin-bottom: 60px;
}